* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

/* header */

.header-banner {
    background-image: url(/images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-color: rgb(196, 221, 245);
    background-blend-mode: multiply;
    padding-top: 260px;
    padding-right: 100px;
}

.header-banner h1 {
    text-align: right;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 50px;
}

.header-banner p {
    text-align: right;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.contact-button {
    text-align: right;
}

.header-button {
    text-align: center;
    background-color: rgb(252, 82, 20);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 90px;
    color: whitesmoke;
}

/* Main */

/* section1 */
.main-section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-img {
    background-color: rgb(247, 238, 224);
    border-radius: 100%;
    height: 730px;
    margin-left: 50px;
    margin-right: 50px;
}

.main-text h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.main-text p {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 500;

}

/* section2 */

.section2-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 200px;
    margin-bottom: 60px;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.section2 h3 {
    margin: 10px 0px;
    text-align: center;
}

.section2 p {
    text-align: center;
}

/* section3 */

.section3 {
    background-image: url(/images/watch.png), url(/images/gradient1.png), linear-gradient(90deg, #36a0f7 0%, rgba(141, 194, 238, 0) 100%);
    width: 900px;
    height: 200px;
    margin-left: 250px;
    margin-bottom: 200px;
    border-radius: 10px;
    margin-top: 150px;
    background-blend-mode: multiply;
}

.box h2 {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 25px;
    color: white;
}

.box button {
    margin-left: 40px;
    text-align: center;
    background-color: rgb(108, 219, 236);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 90px;
    color: whitesmoke;
}

/* footer */

/* footer-main1 */
.footer-main1 {
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-text {
    color: whitesmoke;
    padding-top: 100px;
    padding-left: 100px;
}

.footer-text p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-text h6 {
    padding: 5px 0px;
}

.footer-img {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

.footer-img img {
    padding: 5px;
}

/* footer-main2 */

.footer-main2 {
    text-align: left;
    margin-left: 200px;
    background-color: black;
}

.footer-main2 p {
    color: whitesmoke;
    padding-bottom: 20px;
    font-size: 20px;
}

.footer-mail {
    background-color: black;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.footer-main2 button{
    margin-right: 80px;
    background-color: rgb(62, 42, 240);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: whitesmoke;
}